<footer>
    <div class="footer-area">
        <a style="color: #146c94;" target="_blank" href="https://www.instagram.com/abordadergi/"><i class="bi bi-instagram"></i></a>
        <h3>©Copyright 2023</h3>
    </div>
</footer>