<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Hakkımızda</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="about-content">
        <div class="about">
            <p>Her kaliteli işin altında önemli bir vizyon yatar. Bu vizyonlara odaklanmanın tetiklediği süreçler, sonucu anlamlı ve ulaşılabilir kılan asıl boyutlar olurlar. Bu noktada, ABORDA DERGİ'nin tanımı açısından, <i><strong>"Kendisini anlamlı amaçlarla var etmiş, dijital bir gençlik medyası"</strong></i> demek tam isabet olacaktır.</p>
            <br>
            <p>Her insan kendi içerisinde belli alanlara dair yüksek potansiyel barındırır. Bu kumaşın işlenerek cevherin açığa çıkarılması,hayatın amacı olarak da konuşulagelen <i><strong>"Kendini gerçekleştirme"</strong></i> sonucunun bir basamağıdır. ABORDA, bünyesindeki okur ve yazar gençlere bu öz potansiyellerini değerlendirme ve işleme fırsatı sunarak, katılımcılarının kendini gerçekleştirme sürecine katkı vermeyi amaçlar.
                
                Aborda'nın dayandığı bir diğer ana kavram ise <i><strong>"Yazma"</strong></i> eylemi ve onun doğasında barındırdığı muazzam etkidir. Yazmak, en bilindik katkısıyla insana ifade kabiliyeti ve düşünme tekniğinde gelişme sağlar. Bunların ötesinde, ABORDA'nın bir felsefesi olarak, yazan insan kendisini bulmaya yaklaşır. Yazmanın bu anlamıyla, dergi katılımcılarının süreç içerisinde kendilerine yaklaşmalarına dair önemli bir katkı da hedeftedir.
            </p> 
            <br>  
               <p> Konuları itibariyle ABORDA, herhangi bir çatı konu belirlenmiş olmaksızın, her katılımcısının <i><strong>"Kişisel uzmanlık alanı"</strong></i> niteliğindeki ilgi ve donanımlarını ele aldığı bir konfigürasyon tarzına sahiptir. Kültürden fiziğe,Cumhuriyet tarihinden eğitime,girişimcilikten hukuğa,rock müziğinden divan edebiyatına pek çok köşesiyle ABORDA ve yazarları, gerçek bir çeşitliliği sembolize eder. 
                
                Sonuç itibariyle, gençliğin kendi potansiyeline eğilebilmesi ve kendisini keşfetmesi üzerine kurulmuş tükenmez vizyonuyla ABORDA, bütün ilgililerini ağına katarak ilerleyen bir serüven çizgisindedir.</p>
        </div>
        <br>
        <div class="kunye">
            <h3>Genel Yayın Yönetmeni</h3>
            <h4>Eren Eroğulları</h4>
            <br>
            <h3>Bilişim ve Tasarım Direktörü</h3>
            <h4>Eray Ersan</h4>
            <br>
            <h3>Editörler</h3>
            <h4>Erdem Dönmezkuş
                Ali İlhan
                Çağrı Eker
                Simay Ayas
                Alara Büşra Ergen</h4>
            <br>
            <h3>Genel Yayın Yönetmeni</h3>
            <h4>Eren Eroğulları</h4>
            <br>

            <h3>E-mail: <span style="color: #146c94;">abordadergi@gmail.com</span> </h3>
            <a target="_blank" href="https://www.instagram.com/abordadergi/"><i style="color: #146c94; padding: 10px;" class="bi bi-instagram"><span>abordadergi</span></i></a>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>