<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aborda</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="magazine-cover">
      <% if (magazines.length > 0) { %>
      <a href="<%= magazines[magazines.length - 1].link %>" target="_blank"
        ><img src="<%= magazines[magazines.length - 1].image %>" alt=""
      /></a>
      <% } %>
    </div>

    <div class="homepage-board" style="width: 70%; height: 100px">
      <h3>E-mail: <span style="color: #146c94">abordadergi@gmail.com</span></h3>
      <a target="_blank" href="https://www.instagram.com/abordadergi/"
        ><i style="color: #146c94; padding: 10px" class="bi bi-instagram"
          ><span>abordadergi</span></i
        ></a
      >
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
